// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.registration-information {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
}

table {
text-align: center;
}

table th {
  padding: 10px;
}

table td {
  padding: 10px 150px;
}

.address {
  display: inline-block;
  margin-right: 50px;
  margin-top: 30px;
}

.order {
  display: inline-block;
  margin-right: 30px;
  margin-top: 30px;
}

.sentence {
  text-align: center;
  margin-top: 30px;
}

.withdraw {
  padding-left: 450px;
  padding-top: 30px;
}