// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.customer-detail {
  padding-left: 200px;
  padding-bottom: 30px;
}

.btn-success {
  margin-left: 200px;
}

.btn-primary {
  margin-left: 100px;
}

