// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
   margin-left: 300px;
   margin-top: 50px;
   margin-bottom: 50px;
}

textarea {
   height: 200px;
}

.sale {
   margin-right: 30px;
}

.stop-selling {
   padding-left: 20px;
}